.all-pages {
  background-image: linear-gradient(rgba(0, 0, 0, 0.085), rgba(0, 0, 0, 0.085)), url('../../../images/pink-mountains.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .animal-page1 {
    height: 100vh;
    display: flex;
    .animal-wrapper {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .img-1 {
        // width: 100%;
        // height: 100%;
        max-width: 40%;
        max-height: 65vh;
        min-width: 28%;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      }
      .animal-info {
        width: 50%;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        padding: 3%;
        background-color: #f6efe2;
        .animal-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .icon-info {
          display: flex;
          div {
            width: 50%;
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // justify-content: space-evenly;
          }
          .icon {
            width: 23%;
          }
          .category {
            text-align: center;
            img {
              height: 40%;
              width: 40%;
            }
            p {
              font-size: 80%;
              margin-top: 5%;
            }
          }
        }
      }
    }
  }
  .comments {
    height: 100vh;
  }
}

.comment-modal {
  .modal-content {
    border-radius: 20px;
    border: 5px;
    // background-color: beige;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    .modal-header {
      justify-content: center;
    }
    .comment-title {
      text-align: center;
    }
  }
  .modal-footer {
    display: flex;
    justify-content: center;
    .done-comment-btn {
      border: none;
      background-color: white;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
    }
    .done-comment-btn:hover {
      letter-spacing: 6px;
    }
  }
}

.modal-body {
  .comment-form {
    .wow-rating {
      margin-bottom: 4%;
      display: flex;
      justify-content: space-between;
      label {
        margin-right: 3%;
      }
      select {
        margin-left: 3%;
      }
    }
    .comment-label {
      margin: 0;
    }
  }
}












// .arrow-buttons {
//   .arrow-left {
//     background-image: url('../../../images/arrow-left.png');
//     background-position: center;
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-color: white;
//     border: none;
//     padding: 2%;
//     margin-right: 0.5%;
//   }
//   .arrow-right {
//     background-image: url('../../../images/arrow-right.png');
//     background-position: center;
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-color: white;
//     border: none;
//     padding: 2%;
//     margin-left: 0.5%;
//   }
// }

// .modal {
//   width: 100px;
//   height: 100px;
//   margin:0 auto;
//   display:table;
//   position: absolute;
//   left: 0;
//   right:0;
//   top: 50%; 
//   border:1px solid;
//   -webkit-transform:translateY(-50%);
//   -moz-transform:translateY(-50%);
//   -ms-transform:translateY(-50%);
//   -o-transform:translateY(-50%);
//   transform:translateY(-50%);
// }

// .modal {
//   text-align: center;
//   padding: 0!important;
// }
// .modal:before {
//   content: '';
//   display: inline-block;
//   height: 100%;
//   vertical-align: middle;
//   margin-right: -4px;
// }
// .modal-dialog {
//   display: inline-block;
//   text-align: left;
//   vertical-align: middle;
// }