.page1 {
  .page1-animal {
    height: 100vh;
    // display: flex;
    .animal-wrapper {
      display: flex;
      .img-1 {
        width: 35%;
        height: 40%;
      }
      .animal-info {
        .animal-header {
          display: flex;
        }
        .icon-info {
          display: flex;
          div {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          .icon {
            width: 25%;
          }
        }
      }
    }
  }
  .comments {
    height: 100vh;
  }
}

.arrow-buttons {
  .arrow-left {
    // background-image: url('../../../../public/images/arrow-left.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    border: none;
    padding: 2%;
    margin-right: 0.5%;
  }
  .arrow-right {
    // background-image: url('../../../../public/images/arrow-right.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    border: none;
    padding: 2%;
    margin-left: 0.5%;
  }
}