.home-page {
  background-image:linear-gradient(rgba(0, 0, 0, 0.085), rgba(0, 0, 0, 0.085)), url("../../../images/sloth-wallpaper.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .home-text {
    // float: right;
    // margin-right: 10%;
    // padding-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 18%;
    padding-right: 10%;
    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        margin: 0;
        font-family: "Oi", cursive;
        font-size: 400%;
        letter-spacing: 7px;
        // color: #fc94af;
        color: #EEA47FFF;
        font-weight: 250;
        box-sizing: 0;
        cursor: default;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
      }
      h1:hover {
        letter-spacing: 10px;
        color: beige;
        // font-size: 5.05em;
      }
    }
    .intro {
      h2 {
        cursor: default;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
      }
    }
    .home-btns {
      display: flex;
      justify-content: center;
      width: 100%;
      .explore-btn {
        text-decoration: none;
        margin-right: 2%;
      }
      .login-btn {
        text-decoration: none;
        margin-left: 2%;
      }
    }

  }
}
