.home-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.085), rgba(0, 0, 0, 0.085)),
    url("../../../images/sloth-wallpaper.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(95%);
  .home-text {
    // float: right;
    // margin-right: 10%;
    // padding-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12.5%;
    padding-right: 10%;
    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      .title-h1 {
        margin: 0;
        margin-bottom: 1.5%;
        // font-family: 'Oi', cursive;
        font-family: "Londrina Shadow", cursive;
        // font-family: 'Londrina Solid', cursive;
        font-size: 750%;
        letter-spacing: 5px;
        // color: #a23b5a;
        // color: #742a40;
        // color: black;
        font-weight: 250;
        box-sizing: 0;
        cursor: default;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
      }
      .title-h1:hover {
        letter-spacing: 10px;
        // color: beige;
        // font-family: 'Londrina Solid', cursive;
        // color: #a23b5a
        // font-size: 5.05em;
      }
    }
    .intro {
      margin-bottom: 5%;
      max-width: 60%;
      h2 {
        cursor: default;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        font-family: "Courier New", Courier, monospace;
        text-align: center;
        .changed-by-other {
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -o-transition: all 1s ease;
          transition: all 1s ease;
          font-family: "Courier New", Courier, monospace;
        }
      }
    }
    .home-btns {
      display: flex;
      justify-content: center;
      width: 100%;
      .explore-btn {
        text-decoration: none;
        margin-right: 5%;
        font-family: "Londrina Solid", cursive;
      }
      .login-btn {
        text-decoration: none;
        margin-left: 5%;
        font-family: "Londrina Solid", cursive;
      }
      .home-btn {
        // color: #AA336A;
        color: #742a40;
        color: #FFFDD0;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
      }
      h3 {
        font-size: 300%;
        // font-family: 'Londrina Shadow', cursive;
      }
    }
  }
}

.intro-text:hover .changed-by-other {
  letter-spacing: 2px;
  font-size: 107%;
  // color: #AA336A;
  // color: #a23b5a;
}

.home-btn:hover {
  letter-spacing: 7px;
  font-size: 120%;
  color: #a23b5a;
}


@keyframes popletters {
  0% {
    letter-spacing: 5px;
  }
  50% {
    letter-spacing: 7px;
  }
  100% {
    letter-spacing: 5px;
  }
}

.title-h1 {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1.5s ease-out 0s 1 popletters;
  
}